<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="https://libracore.com/xml/config.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="https://libracore.com/xml/config.xsd config.xsd">
  <!-- ERPNext configuration -->
  <Server>http://erpplayground</Server>
  
  <!-- optional: username and password -->
  <Username></Username>
  <Password></Password>
    
</Configuration>